body
{
    background-color: #222222;
    color: lightgray;
}

header
{
    width: 100%;
    min-height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-style: solid;
}

article
{
    width: 100%;
    text-align: center;
    border-style: solid;
  display:flex;
}


h1
{
    font-size: 38px;
}

#logo_text{
    margin-left: auto;
    margin-right: auto;
    width: 68%;
}

#login{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.middle_block{
    width: 70%;
    background-color: #333;
    border-style: solid;
    float: left;
}

.right_block{
    width: 28%;
    background-color: #333;
    border-style: solid;
    float: left;
}

.bottom{
    width: 100%;
    min-height: 50px;
    background-color: #333;
    border-style: solid;
    display:flex;
}

.bottom p{
    margin:15px;
}

li {
    margin: 10px;
}

a {
    color: #888;
}

.button {
    margin-top: 20px;
    height: 40px;
 }

.button a{
    border-style: solid;
    background-color: #aaa;
    padding: 5px;
    color: #000;
    text-decoration: none;
    font-size: 16px;
}

.post {
    border-style: solid;
}

.post p {
    text-align: left;
    margin: 0;
    margin-left: 20px;
}

.domain{
    margin: 5px;
    background-color: #444;
    border-style: solid;
}